@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: #f2f2f2;
}

main {
    display: flex;
    box-sizing: content-box;
}

article {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 85vh;
    background: #aaaaaa;
    order: 1;
}

nav {
    display: flex;
    width: 25%;
    height: 85vh;
    flex-direction: column;
    background: #bbbbbb;
}
aside {
    display: flex;
    width: 25%;
    height: 85vh;
    background: #cccccc;
    order: 2;
}
footer {
    position: sticky;
    bottom: 1;
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    background:#f2f2f2;
}